{% extends 'base/base_list.html' %}
{% load crispy_forms_filters %}

{% block list_title %}
  <h1 class="fw-bold text-dark m-0">Position list</h1>
  <a class="btn btn-outline-dark fw-medium d-flex align-items-center gap-2" href="{% url 'manager:position_create' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5a.5.5 0 0 1 .5-.5"/>
    </svg>
    <span>Create Position</span>
  </a>
{% endblock %}

{% block search_form %}
  <form class="d-flex gap-2 align-items-center" action="" method="GET" novalidate>
    {{ search_form|crispy }}
    <input class="btn btn-primary" type="submit" value="🔍">
    <a class="btn btn-secondary" href="{% url 'manager:position_list' %}">🔄</a>
  </form>
{% endblock %}

{% block table_header %}
  <th class="py-3 px-3 text-secondary tracking-wider">Name</th>
{% endblock %}

{% block table_data %}
  {% for position in position_list %}
    <tr class="border-bottom">
      <td class="px-3 py-3">
        <a class="table-link fw-medium text-decoration-none" href={{ position.get_absolute_url }}>{{ position.name }}</a>
      </td>
    </tr>
  {% endfor %}
{% endblock %}

{% block empty_table %}
  <div class="text-center py-5 bg-white border rounded shadow-sm my-4">
    <p class="text-secondary m-0 fs-5 fw-medium">There are no positions yet.</p>
  </div>
{% endblock %}
