{% extends 'base.html' %}

{% block content %}
  <h1>Details page <span class="float-end"><a class="btn btn-primary" href="{% url 'manager:task_update' task.pk %}">✏️</a> <a class="btn btn-danger" href="{% url 'manager:task_delete' task.pk %}">🗑️</a></span></h1>
  <p>Name: {{ task.name }}</p>
  <p>Description: {{ task.description }}</p>
  <p>Deadline: {{ task.deadline }}</p>
  <p>Is completed: {{ task.is_completed }}</p>
  <p>Priority: {{ task.get_priority_display }}</p>
  <p>Task type: {{ task.task_type }}</p>
  {% if all_assignees %}
    <p>Assignees:</p>
    <ul class="list-group">
    {% for assignee in all_assignees %}
      <li class="list-group-item">{{ assignee.username }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no assignees</p>
  {% endif %}
  <a class="btn btn-primary mt-3" href="{% url 'manager:task_list' %}">Back</a>
{% endblock %}
